body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    padding: 0 300px;
    background-color: #1F2937;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    padding: 100px 0;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    gap: 50px;
}

.header-bottom-text {
    flex: 1;
}

.header-bottom-placeholder {
    flex: 1;
    width: stretch;
    height: stretch;
    background-color: rgb(109 116 125);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    margin-top: 10px;
    padding: 10px 35px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-content-info {
    padding: 0 300px;
    justify-content: center;
}

.main-content-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.main-content-placeholder {
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.main-content {
    padding: 0 400px 100px;
    justify-content: center;
    gap: 50px;
}

.main-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.main-placeholder-text {
    padding-top: 10px;
    text-align: center;
}

.main-quote {
    background-color: #E5E7EB;
    padding: 100px 450px;
    flex-direction: column;
}

.quote-text {
    margin: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

.quote-author {
    margin: 0;
    margin-left: auto;
}

.footer-content {
    background-color: #1F2937;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sign-up {
    padding: 100px 300px;
}

.sign-up-box {
    background-color: #3882F6;
    padding: 50px 100px;
    width: stretch;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-slogan {
    margin: 0;
    color: #F9FAF8;
    font-weight: 900;
}

.main-sign-up-button {
    padding: 10px 40px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}